# Name of the server, substitue frec-chat.processtalks.com by the name of the machine you are deploying to
NGINX_SERVER_NAME=frec-chat.processtalks.com

# Optional on development. Required on first startup in production.
FREC_ADMIN_USERNAME=""
FREC_ADMIN_PASSWORD=""
